@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Codystar&display=swap');


:root {
    --grid-sides: 1;
    background-color: #d5f5e3;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#easContainer {
    text-align: center;
    background-color: #cf001b;
    border: 0.2rem ridge;
    border-color: #f4d03f;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #f4d03f;
    padding: 0rem 0.8rem 0.8rem 0.8rem;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

button {
    border: 0.2rem ridge;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #d5d8dc;
}

button:hover {
    border: 0.2rem solid;
    border-color: #f4d03f;
    background-color: #f4d03f;
    border-radius: 0.5rem;
    cursor: pointer;
}

.cell:hover {
    cursor: crosshair;
}

#mainGridContainer {
    display: grid;
    grid-template-rows: repeat(var(--grid-sides), 1fr);
    grid-template-columns: repeat(var(--grid-sides), 1fr);
    grid-gap: 0.1em;
    width: 35rem;
    height: 35rem;
    background-color: #d5d8dc;
    border-color: black;
}

#title {
    margin-top: 4rem;
    font-family: 'Codystar', cursive;
    font-size: 3rem;
}


@media only screen and (max-width: 600px) {

    #mainGridContainer {
        width: 18.5rem;
        height: 19rem;
    }

    #buttonContainer {
        width: 18.5rem;
        height: 2rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    #title {
        margin-top: 1rem;
        font-size: 2rem;
    }

    #easContainer {
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
    }
}

;