:root {
    --grid-sides: 1;
}


#mainGridContainer {

    display: grid;

    width: 50rem;
    height: 50rem;

    grid-gap: 0.1em;
    grid-template-rows: repeat(var(--grid-sides), 1fr);
    grid-template-columns: repeat(var(--grid-sides), 1fr);

}

;